// .common_modal_container {
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     top: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 100;

// }

.shadow_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.common_modal_content {
    width: 840px;
    height: 640px;
    position: relative;

    .common_modal_title {
        font-weight: 500;
        font-size: 14px;
        color: #333333;
        line-height: 56px;
        font-style: normal;
        margin-top: 34px;
        text-align: center;
    }

    .common_modal_close {
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 30px;
        top: 46px;
        background: url("https://asset.tuwan.com/squadron/images/icon_modal_close.png");
        background-size: 100% 100%;
    }

    .common_modal_action_container {
        display: flex;
        justify-content: center;
    }
}

